<h2><%= @question.title %></h2>

<p><%= @question.body %></p>
<a class="profiles" href="/users/<%= @question.user.id%>"><%=@question.user.username %></a>

<form method="post" action="/questions/<%= @question.id %>/vote" id="q_upvote">
  <button id="upvote" type="submit" name="upvote" value="YES">YES</button>
</form>
<p><%= @question.vote_count %></p>

<form method="post" action="/questions/<%= @question.id %>/vote" id="q_downvote">
  <button id="downvote" type="submit" name="downvote" value="NOPE">NOPE</button>
</form>

<h4>Suggested answers:</h4>
<p><% @question.answers.each do |answer|%></p>
<p><%= answer.text %></p><br>
<% end %>
<br>
<br>

<% if @errors %>
<ul>
  <% @errors.each do |error|%>
  <li><%= error %></li>
  <% end %>
</ul>
<% end %>


<% if logged_in? %>
  <h4>Submit an Answer:</h4>
  <form id="answer-form" method="POST" action="/questions/<%= @question.id %>/answer">
    <input type="text" name="text" placeholder="Type your answer here">
    <input type="submit" value="Submit">
  </form>
<% else %>
  <p><a href="/users/new">Register</a> or <a href="/sessions/new">Login</a> to answer this question!</p>
<% end %>
