<div class="jumbotron">
	<h3><%= @question.title %></h3>
	<h4><%= @question.body %></h4>
	<a class="profiles" href="/users/<%= @question.user.id%>"><%=@question.user.username %></a>
</div>


<%= erb :_q_vote, locals: {question: @question} %>



<ul class="list-group" id="question-list">
	<li>
	<h4>Suggested answers:</h4>
	<% @question.answers.each do |answer|%>
		<p class="list-group-item"><%= answer.text %></p>

    <% if current_user && current_user.id == @question.user.id %>
      <form method="post" action="/questions/<%=@question.id%>/answers/<%= answer.id %>/best" id="best_answer">
        <button id="best_answer" type="submit" name="best answer" value="best">Best</button>
      </form>
    <% end %>

  <% if @question.best_answer_id == answer.id %>
      <%= "best answer" %>
    <% else %>
      <%= "not best answer" %>
    <% end %>

<form method="post" action="/questions/<%=@question.id%>/answers/<%= answer.id %>/vote" id="q_upvote">
  <button id="upvote" type="submit" name="upvote" value="YES">YES</button>
</form>
<p><%= answer.vote_count %></p>

    <h2>Answer Comment:</h2>
    <textarea name="comment" form="answer_comment_body <%= answer.id %>"></textarea>


    <form action="/questions/<%= @question.id %>/answers/<%= answer.id %>/comments" method="post" id="answer_comment_body <%= answer.id %>">
      <button type="submit">Submit</button>
    </form>

    <% answer.comments.each do |answer_comment| %>
      <%= answer_comment.text %>
    <% end %>

<%= erb :_a_vote, locals: {question: @question, answer: answer} %>

	<% end %>
  <li>
</ul>

<h2>Question Comment:</h2>
<textarea name="comment" form="comment_body"></textarea>
<form action="/questions/<%= @question.id %>/comments" method="post" id="comment_body">
    <button type="submit">Submit</button>
</form>


<h4>Question Comments:</h4>
<% @comments.each do |comment| %>
  <p><%= comment.text %></p><br>

<%=erb :_q_c_vote, locals: {comment: comment, question: @question} %>


<% end %>

<% if @errors %>
<ul>
  <% @errors.each do |error|%>
  <li><%= error %></li>
  <% end %>
</ul>
<% end %>


<% if logged_in? %>
  <h4>Submit an Answer:</h4>
  <form id="answer-form" method="POST" action="/questions/<%= @question.id %>/answer">
    <input type="text" name="text" placeholder="Type your answer here">
    <input type="submit" value="Submit">
  </form>
<% else %>
  <p><a href="/users/new">Register</a> or <a href="/sessions/new">Login</a> to answer this question!</p>
<% end %>
