<div class="jumbotron">
	<h3><%= @question.title %></h3>
	<h4><%= @question.body %></h4>
	<a class="profiles" href="/users/<%= @question.user.id%>"><%=@question.user.username %></a>
</div>



<form method="post" action="/questions/<%= @question.id %>/vote" id="q_upvote">
  <button id="upvote" type="submit" name="upvote" value="YES">YES</button>
</form>
<p><%= @question.vote_count %></p>

<form method="post" action="/questions/<%= @question.id %>/vote" id="q_downvote">
  <button id="downvote" type="submit" name="downvote" value="NOPE">NOPE</button>
</form>

<h4>Suggested answers:</h4>
<p><% @question.answers.each do |answer|%></p>
<p><%= answer.text %></p><br>
<form method="post" action="/questions/<%=@question.id%>/answers/<%= answer.id %>/vote" id="q_upvote">
  <button id="upvote" type="submit" name="upvote" value="YES">YES</button>
</form>
<p><%= answer.vote_count %></p>

<form method="post" action="/questions/<%=@question.id%>/answers/<%= answer.id %>/vote" id="q_downvote">
  <button id="downvote" type="submit" name="downvote" value="NOPE">NOPE</button>
</form>


<ul class="list-group" id="question-list">
	<li>
	<h4>Suggested answers:</h4>
	<% @question.answers.each do |answer|%>
		<p class="list-group-item"><%= answer.text %></p>
	<% end %>
  <li>
</ul>

<h2>Comment:</h2>
<textarea name="comment" form="comment_body"></textarea>
<form action="/questions/<%= @question.id %>/comments" method="post" id="comment_body">
    <button type="submit">Submit</button>
</form>


<h4>Comments</h4>
<% @comments.each do |comment| %>
  <p><%= comment.text %></p><br>
<% end %>

<% if @errors %>
<ul>
  <% @errors.each do |error|%>
  <li><%= error %></li>
  <% end %>
</ul>
<% end %>


<% if logged_in? %>
  <h4>Submit an Answer:</h4>
  <form id="answer-form" method="POST" action="/questions/<%= @question.id %>/answer">
    <input type="text" name="text" placeholder="Type your answer here">
    <input type="submit" value="Submit">
  </form>
<% else %>
  <p><a href="/users/new">Register</a> or <a href="/sessions/new">Login</a> to answer this question!</p>
<% end %>
