<h2><%= @question.title %></h2>

<p><%= @question.body %></p>

<h4>Suggested answers:</h4>
<p><% @answers.each do |answer|%></p>
<p><%= answer.text %></p><br>
<% end %>

<br>
<br>

<%= erb :_error_messages, locals {error: error}  %>

<h4>Submit an Answer:</h4>
<form id="answer-form" method="POST" action="/questions/<%= @question.id %>/answer">
  <input type="text" name="text" placeholder="Type your answer here">
  <input type="submit" value="Submit">
</form>
