<h1>Hi <%= @user.username %></h1>
<h2>Questions</h2>
<ul>
  <% @user.questions.each do |question| %>
    <li>
      <a href="/questions/<%= question.id %>"><%= question.title %></a>
    </li>
  <% end %>
</ul>
<h2>Answers</h2>
<ul>
  <% @user.answers.each do |answer| %>
    <li>
      <a href="/questions/<%= answer.question.id %>"><%= answer.text %></a>
    </li>
  <% end %>
</ul>
<h2>Comments</h2>
<ul>
  <% @user.comments.each do |comment| %>
    <li><%= comment.text %></li>
  <% end %>
</ul><br>

<% if current_user && authorize_entry %>
<h2>Submit a question:</h2>
   <% if @errors %>
      <% @errors.each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>

  <form action="/questions" method="post">
    <label>Title:</label>
    <input type="text" name="title">
    <label>Body:</label>
    <input type="text" name="body">
    <button type="submit">Submit</button>
  </form>
<% else %>
  <p>This is not your page</p>
<% end %>

<!--

  is the session id equal to the viewed page
  user id

ensure a user is on their user page
is the current user id == session url

params[:id]

shovel question into users
make a text area
  so we just need to generate a question
  need the id of the user in the question
  show error if blank

 -->
